<% layout("/layouts/boilerplate.ejs") %>

  <div class="row">
    <div class="col-8 offset-2">

      <h3 class="mt-4 mb-1">Shorten Links. Share Smarter.</h3>
      <p class="text-muted mb-4">Turn long URLs into clean, memorable links.</p>

      <form method="post" action="/urls" class="needs-validation" novalidate>

        <div class="mb-3">
          <label for="originalUrl" class="form-label fw-medium">Long URL</label>
          <input type="text" placeholder="https://example.com/very/long/link" id="originalUrl" name="url[originalUrl]"
            class="form-control" required>
          <div class="invalid-feedback">Please Enter a valid URL.</div>
        </div>

        <div class="mb-3">
          <label for="shortCode" class="form-label fw-medium">Short alias</label>
          <input type="text" name="url[shortCode]" id="shortCode" class="form-control"
            placeholder="Click a button below, or type your own" required>
          <div class="invalid-feedback">Please enter a short alias.</div>
        </div>

        <input type="hidden" id="aliasType" name="url[aliasType]" value="custom">

        <div class="mb-4">
          <button type="button" class="btn btn-outline-primary" id="btn-generate">Generate Alias</button>
          <button type="button" class="btn btn-outline-primary" id="ai-btn">AI Suggestion</button>
          <div id="alias-feedback" class="mt-2 small"></div>
        </div>

        <button type="submit" class="btn btn-dark mt-2 mb-4"> Create SnapLink</button>

      </form>
    </div>
  </div>