<% layout("/layouts/boilerplate.ejs") %>

    <div class="row">
        <div class="col-md-8 offset-2">
            <form method="post" action="/urls">
                <label for="url" class="form-label">Enter URL</label>
                <input type="text" placeholder="Enter URL" id="url" name="url[originalUrl]" class="form-control">
                <button class="btn btn-dark mt-2">Submit</button>
            </form>
        </div>
    </div>